minecraft/assetmover/
minecraft/backupsmod/
minecraft/coremods/
minecraft/crash-reports/
minecraft/emojicord/
minecraft/journeymap/
minecraft/logs/
minecraft/mapfrontiers/
minecraft/mods/
minecraft/natives/
minecraft/saves/
minecraft/screenshots/
minecraft/shaderpacks/
minecraft/texturepacks/
minecraft/vintagefix/
minecraft/voxelmap/
minecraft/xaero/
minecraft/xaerowaypoints/
*.png
*.json
*.log
